<!DOCTYPE html>
<html ng-app="SimpleBlogApp" ng-controller="masterHomeController">

<head>
    <title data-ng-bind="page.title">Simple blog using nodejs</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="nguyenmanhtung848@gmail.com">

    <!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/angular-toastr.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/site_body.css">
    <link rel="stylesheet" href="/stylesheets/site_footer.css">
    <link rel="stylesheet" href="/stylesheets/site_header.css">
    <link rel="stylesheet" href="/stylesheets/site_slide.css">
    <!-- endinject -->
    <base href="/">
</head>

<body class="front-body">
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" rel="home" href="/" title="My Blog">My Blog</a>
            </div>
            <div class="collapse navbar-collapse">
                <!--Search bar-->
                <!--<div class="col-sm-6 col-md-6">
                <form class="navbar-form" role="search" name="search-form" novalidate ng-submit="search();">
                    <div class="input-group full-width">
                        <input type="text" class="form-control" placeholder="Key word" ng-model="searchForm.key" name="key" />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
            </div>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/">Home</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/products">Products</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/contact-us">Contact us</a></li>
                    <li ng-if="$root.currentUser==null"><a data-toggle="collapse" data-target=".navbar-collapse" href="/log-in">Log in</a></li>
                    <li ng-if="$root.currentUser==null"><a data-toggle="collapse" data-target=".navbar-collapse" href="/register">Register &nbsp;</a></li>
                    <li class="dropdown" ng-if="currentUser!=null">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> {{$root.currentUser.name}} <i class="fa fa-caret-down"></i>&nbsp;&nbsp;
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/change-password"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                            </li>
                            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/change-profile"><i class="fa fa-gear fa-fw"></i> Change Profile</a>
                            </li>
                            <li ng-if="$root.currentUser.role == 'admin'"><a href="/admin/home" target="_self"><i class="fa fa-pencil fa-fw"></i> Admin</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/log-out" target="_self"><i class="fa fa-sign-out fa-fw"></i> Sign out</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </ul>
            </div>
        </div>
    </header>
    
    <!-- Full Page Image Background Carousel Header -->
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/images/slide/test_slide_2.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Vườn tự tưới</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/images/slide/test_slide_1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Vườn thông minh</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Grid Section -->
    <section class="container" id="mainContainer">
        <div ng-view></div>
    </section>

    <footer class="text-center">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Thông tin</h3>
                            <!-- /.widget-title -->
                            <div class="widget-details">
                                <nav>
                                    <ul>
                                        <li><a href="#">Sản phẩm</a></li>
                                        <li><a href="#">Về chúng tôi</a></li>
                                        <li><a href="#">Liên hệ</a></li>
                                        <li><a href="#">Chính sách</a></li>
                                        <li><a href="#">Bảo hành</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- /.widget-details -->
                        </div>
                        <!-- /.widget -->
                    </div>

                    <div class="col-md-6">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">Liên hệ</h3>
                            <!-- /.widget-title -->
                            <div class="widget-details">
                                <nav>
                                    <ul>
                                        <li><a href="#">Nguyễn Mạnh Tùng: 0985.519.599</a></li>
                                        <li><a href="#">Email: nguyemmanhtung848@gmail.com</a></li>
                                        <li><a href="#">Địa chỉ: 43 Phùng Khắc Khoan, Sơn Trà, Đà Nẵng</a></li>
                                        <li><a href="#">Facebook</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- /.widget-details -->
                        </div>
                        <!-- /.widget -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below" id="footer-below">
            Copyright © MT Group 2016
        </div>
    </footer>

    <!-- /.container -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <!-- inject:js -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.mobile.js"></script>
    <script src="/js/bower_components/angular/angular.min.js"></script>
    <script src="/js/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/js/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/js/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/js/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/js/angular/angular-confirm.js"></script>
    <script src="/js/angular/angular-toastr.min.js"></script>
    <script src="/js/angular/angular-toastr.tpls.min.js"></script>
    <script src="/js/angular/ng-ck-editor.js"></script>
    <script src="/js/angular/ng-flow-standalone.min.js"></script>
    <script src="/js/angular/satellizer.js"></script>
    <script src="/js/angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="/js/app/angularApp.js"></script>
    <script src="/js/app/admin/article/angular.articleController.js"></script>
    <script src="/js/app/admin/category/angular.categoryController.js"></script>
    <script src="/js/app/admin/comment/angular.commentController.js"></script>
    <script src="/js/app/admin/user/angular.userController.js"></script>
    <script src="/js/app/masterController.js"></script>
    <script src="/js/app/routes.js"></script>
    <script src="/js/app/account/angular.changePasswordController.js"></script>
    <script src="/js/app/account/angular.changeProfileController.js"></script>
    <script src="/js/app/account/angular.forgotPasswordController.js"></script>
    <script src="/js/app/account/angular.getUserProfileController.js"></script>
    <script src="/js/app/account/angular.registerController.js"></script>
    <script src="/js/app/account/angular.resetPasswordController.js"></script>
    <script src="/js/app/directives/nxEqual.js"></script>
    <script src="/js/app/authenticate/loginController.js"></script>
    <script src="/js/app/home/angular.articleDetailsController.js"></script>
    <script src="/js/app/home/angular.homeController.js"></script>
    <script src="/js/app/modules/apiService.js"></script>
    <script src="/js/custom.js"></script>
    <!-- endinject -->


</body>

</html>