<!DOCTYPE html>
<html ng-app="SimpleBlogApp" ng-controller="masterHomeController">

<head>
    <title data-ng-bind="page.title">Simple blog using nodejs</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="nguyenmanhtung848@gmail.com">

    <!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/angular-toastr.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/stylesheets/freelancer.css">
    <link rel="stylesheet" href="/dist/ckeditor/plugins/codesnippet/lib/highlight/styles/school_book.css">
    <base href="/">
</head>

<body class="front-body">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="/" title="My Blog">My Blog</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="col-sm-6 col-md-6">
                <form class="navbar-form" role="search" name="search-form" novalidate ng-submit="search();">
                    <div class="input-group full-width">
                        <input type="text" class="form-control" placeholder="Key word" ng-model="searchForm.key" name="key" />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="$root.currentUser==null"><a data-toggle="collapse" data-target=".navbar-collapse" href="/log-in">Log in</a></li>
                <li ng-if="$root.currentUser==null"><a data-toggle="collapse" data-target=".navbar-collapse" href="/register">Register &nbsp;</a></li>
                <li class="dropdown" ng-if="currentUser!=null">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{$root.currentUser.name}} <i class="fa fa-caret-down"></i>&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/change-password"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                        </li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/change-profile"><i class="fa fa-gear fa-fw"></i> Change Profile</a>
                        </li>
                        <li ng-if="$root.currentUser.role == 'admin'"><a href="/admin/home" target="_self"><i class="fa fa-pencil fa-fw"></i> Admin</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/log-out" target="_self"><i class="fa fa-sign-out fa-fw"></i> Sign out</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </div>
    </nav>

    <!-- Portfolio Grid Section -->
    <section class="container" id="mainContainer">
        <div ng-view></div>
    </section>

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3">
                        <h3>Contact us</h3>
                        <p><a href="mailto:nguyenmanhtung848@gmail.com">nguyenmanhtung848@gmail.com</a></p>
                    </div>
                    <div class="footer-col col-md-3">
                        <h3>Information</h3>
                        <p><a href="/about-us">About us.</a></p>
                        <p><a href="/policies">Policies.</a></p>
                    </div>
                    <div class="footer-col col-md-3">
                        <h3>Facebook</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/mt26691" class="btn-social-footer btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <h3>My Blog</h3>
                        <p>This is a simple blog based on nodejs angularjs and mongodb.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below" id="footer-below">
            Copyright © hocdai.com 2016
        </div>
    </footer>

    <!-- /.container -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <!-- inject:js -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/angular/angular-route.min.js"></script>
    <script src="/js/angular/angular-resource.min.js"></script>
    <script src="/js/angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="/js/angular/angular-confirm.js"></script>
    <script src="/js/angular/angular-cookies.min.js"></script>
    <script src="/js/angular/angular-messages.min.js"></script>
    <script src="/js/angular/angular-sanitize.min.js"></script>
    <script src="/js/angular/angular-toastr.min.js"></script>
    <script src="/js/angular/angular-toastr.tpls.min.js"></script>
    <script src="/js/angular/ng-ck-editor.js"></script>
    <script src="/js/angular/ng-flow-standalone.min.js"></script>
    <script src="/js/angular/satellizer.js"></script>
    <script src="/js/app/angularApp.js"></script>
    <script src="/js/app/modules/apiService.js"></script>
    <script src="/js/app/masterController.js"></script>
    <script src="/js/app/routes.js"></script>
    <script src="/js/app/home/angular.articleDetailsController.js"></script>
    <script src="/js/app/home/angular.homeController.js"></script>
    <script src="/js/app/authenticate/loginController.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/app/account/angular.changePasswordController.js"></script>
    <script src="/js/app/account/angular.changeProfileController.js"></script>
    <script src="/js/app/account/angular.forgotPasswordController.js"></script>
    <script src="/js/app/account/angular.getUserProfileController.js"></script>
    <script src="/js/app/account/angular.registerController.js"></script>
    <script src="/js/app/account/angular.resetPasswordController.js"></script>
    <script src="/js/app/directives/nxEqual.js"></script>
    <script src="/js/app/admin/article/angular.articleController.js"></script>
    <script src="/js/app/admin/comment/angular.commentController.js"></script>
    <script src="/js/app/admin/user/angular.userController.js"></script>
    <!-- endinject -->


</body>

</html>