<div class="row" ng-if="!isEmailSent">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Forgot Password.</h3>
            </div>
            <div class="panel-body">
                <form name="form" method="post" role="form" novalidate ng-submit="submitForm(form.$valid)" ng-if="isEmailSent == null || isEmailSent == false">
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine && form.$submitted }">
                            <label>Email:</label>
                            <input type="email" class="form-control" placeholder="Email" name="email" required ng-model="forgotPasswordForm.email" ng-minlength="10"
                            ng-maxlength="255" maxlength="255" />
                            <div ng-messages="form.email.$error" ng-if="form.$submitted" class="error-message">
                                <span ng-message="minlength">Email must have at least 4 characters.</span>
                                <span ng-message="maxlength">Email must have less than 255 characters.</span>
                                <span ng-message="required">Email is required.</span>
                                <span ng-message="email">Email is not right.</span>
                            </div>
                        </div>
                        <div class="form-group error-message" ng-if="msg.length>0">
                            {{msg}}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="isEmailSent">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your
                    spam folder.</p>
                <a href="/log-in" class="btn btn-block btn-primary">Return sign in page</a>
            </div>
        </div>
    </div>
</div>