<div class="row" ng-if="email&&!notFoundUser&&!passwordChangedSuccess">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reset password for {{email}}.</h3>
            </div>
            <div class="panel-body">
                <form name="form" method="post" role="form" novalidate ng-submit="submitForgotPasswordForm(form.$valid)">
                    <fieldset>
                        <label>Password:</label>
                        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine && form.$submitted }">
                            <input type="password" class="form-control" placeholder="Password" name="password" required ng-model="forgotPasswordForm.password"
                            ng-minlength="6" ng-maxlength="40" />

                            <div ng-messages="form.password.$error" ng-if="form.$submitted" class="error-message">
                                <span ng-message="minlength">Password must have at least 6 characters.</span>
                                <span ng-message="maxlength">Password must not greater than 40 characters.</span>
                                <span ng-message="required">Password is required.</span>
                            </div>

                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine && form.$submitted }">
                            <label>Confirm password:</label>
                            <input type="password" class="form-control" placeholder="Confirm password" name="repassword" required ng-model="forgotPasswordForm.repassword"
                            ng-minlength="6" ng-maxlength="24" nx-equal="forgotPasswordForm.password" />

                            <div ng-messages="form.repassword.$error" ng-if="form.$submitted" class="error-message">
                                <span ng-message="minlength">Password must have at least 6 characters.</span>
                                <span ng-message="maxlength">Password must not greater than 40 characterṣ.</span>
                                <span ng-message="required">Repeat Password is required.</span>
                                <span ng-message="nxEqual">Password does not match the confirm password.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Reset password" class="btn btn-block btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="notFoundUser">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                <p>The url is wrong or expried</p>
                <a href="/log-in" class="btn btn-block btn-primary">Forgot password page</a>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="passwordChangedSuccess">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                <p>You have changed your password successfully</p>
                <a href="/log-in" class="btn btn-block btn-primary">Return sign in page</a>
            </div>
        </div>
    </div>
</div>