<section id="services" class="services text-center">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="section-top fadeInUp">
                    <h2 class="section-title"><span>Những dịch vụ chính</span></h2>
                    <!--<p class="section-description">
                        Matter is made up of atoms having dimensions approximately determined to be in the neighbourhood of the one fifty-millionth
                        of an inch in diameter.
                    </p>-->
                    <!-- /.section-description -->
                </div>
                <!-- /.section-top -->

                <div class="section-details">
                    <div class="service-details">
                        <div class="col-md-3 col-sm-6">
                            <div class="item ">
                                <div class="item-icon">
                                    <i class="fa fa-tint"></i>
                                </div>
                                <!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">Vườn rau tự tưới</h4>
                                    <!-- /.item-title -->
                                    <p class="item-description">
                                        Atoms dimensions approximately determined with one fifty-millionth an inch in diameter.
                                    </p>
                                    <!-- /.item-description -->
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.item -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="item animated">
                                <div class="item-icon">
                                    <i class="fa fa-tree"></i>
                                </div>
                                <!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">Vườn cây trên nóc</h4>
                                    <!-- /.item-title -->
                                    <p class="item-description">
                                        Continuity as distinguished from may be considering what would be visible by magnification.
                                    </p>
                                    <!-- /.item-description -->
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.item -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="item ">
                                <div class="item-icon">
                                    <i class="fa fa-book"></i>
                                </div>
                                <!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">Tư vấn chăm sóc cây</h4>
                                    <!-- /.item-title -->
                                    <p class="item-description">
                                        Definite amount of matter in visible universe, a number of molecules and atoms in huge number
                                    </p>
                                    <!-- /.item-description -->
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.item -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="item ">
                                <div class="item-icon">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <!-- /.item-icon -->
                                <div class="item-details">
                                    <h4 class="item-title">Sản phẩm nông nghiệp</h4>
                                    <!-- /.item-title -->
                                    <p class="item-description">
                                        Phenomena of light and waves of all lengths are found in velocity of 186,000 miles in a second.
                                    </p>
                                    <!-- /.item-description -->
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.item -->
                        </div>

                    </div>
                    <!-- /.service-details -->
                </div>
                <!-- /.section-details -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section-padding -->
</section>