<h5>Hello <b><%= name %></b>.</h5>
<p>We heard you forgot password at myblog</p>
<p>You can use the following link within 48 hours to reset your password.</p>
<a href="<%-resetURL%>"><%-resetURL%></a>

<p><b>Note: If you don't you this link in 48 hours, it will expire.</b></p>

<p>Thanks</p>
<p><a href="http://hocdai.com/">hocdai.com</a></p>